
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

header {
    position: absolute;
    top: 20px;
    right: 20px;
}

.user-btn {
    background-color: #00d2d2;
    color: white;
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-btn:hover {
    background-color: #00b3b3;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 40px; 
    right: 0;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.dropdown-menu a {
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
}

.dropdown-menu a:hover {
    background-color: #00d2d2;
}

.show {
    display: block;
}


.title {
    font-size: 3rem;
    font-weight: 700;
    color: #00d2d2;
    text-align: center;
    margin-bottom: 30px;
}

.upload-btn {
    background-color: #00d2d2;
    color: white;
    padding: 14px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.upload-btn:hover {
    background-color: #00b3b3;
}
